[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/nerdtree_plugin"]
	path = bundle/nerdtree_plugin
	url = git://github.com/vim-scripts/The-NERD-tree.git
